/jenkins/jenkins_home
.vscode
/traefik/certs
/traefik/acme.json
airflow/logs/dag_processor_manager
airflow/logs/scheduler
db_wolverine/volumes
db_wolverine/proxy-manager/data/
db_wolverine/proxy-manager/letsencrypt/

